@tailwind base;
@tailwind components;
@tailwind utilities;


::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: black;
}  


.letter {
  width: 40px; /* Adjust based on the widest character in your font set */
  text-align: center;
}

.nav-indicator {
  width: 10%
}
.nav-indicator.active {
  width: 100%
}
 
.chevron-space::before {
  content: " ";
  right: "-100px";
  background-color: #ffffff
}

/* SCROLLING TICKER  *//* SCROLLING TICKER  *//* SCROLLING TICKER  *//* SCROLLING TICKER  *//* SCROLLING TICKER  *//* SCROLLING TICKER  */

.scrolling-ticker {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scrolling-content-admin {
  display: inline-flex;
  animation: scroll-left-admin 25s linear infinite;
}
.scrolling-content-film {
  display: inline-flex;
  animation: scroll-left-film 15s linear infinite;
}
.scrolling-content-music {
  display: inline-flex;
  animation: scroll-left-music 15s linear infinite;
}
.scrolling-content-lighting {
  display: inline-flex;
  animation: scroll-left-lighting 21s linear infinite;
}

.pseudo-gradient {
  position: relative;
  overflow: hidden;
}

.pseudo-gradient::before {
  content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 105%;
      background: linear-gradient(to right, transparent, #fcd5ea);
      transition: opacity 0.5s ease-in-out;
      opacity: 0;

}

.pseudo-gradient.highlighted::before {
  opacity: 1;
}

@keyframes scroll-left-admin {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-138%);
  }
}
@keyframes scroll-left-music {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-75%);
  }
}
@keyframes scroll-left-film {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-92.5%);
  }
}
@keyframes scroll-left-lighting {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-134%);
  }
}


.has-search-match {
  content: url('~lucide-static/icons/search-check.svg'); /* Adjust as necessary */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.has-search-match::after {
  opacity: 1; /* Show the icon */
}

.ticker-item {
  /* display: inline-block; */
  padding: 0 0.8rem; /* Adjust spacing between items */
}

.expand-3d {
  transition: transform 0.5s;
  transform: perspective(600px) rotateX(0deg);
}

.expand-3d:hover {
  transform: perspective(600px) rotateX(-30deg) scale(1.1);
}

@keyframes paintReveal {
  to {
    background-size: 100% 100%;
  }
}
.paint {
  animation: paintReveal 0.5s forwards;
  background-size: 0% 100%;
}


@keyframes glitch {
  0% {
    clip-path: inset(0 0 0 0);
    transform: skew(0deg);
  }
  10% {
    clip-path: inset(0 0 0 0);
    transform: skew(8deg);
  }
  20% {
    clip-path: inset(0 0 0 0);
    transform: skew(-8deg);
  }
  30% {
    clip-path: inset(0 0 0 0);
    transform: skew(0deg);
  }
  40% {
    clip-path: inset(0 0 0 0);
    transform: skew(2deg);
  }
  50% {
    clip-path: inset(0 0 0 0);
    transform: skew(8deg);
  }
  60% {
    clip-path: inset(0 0 0 0);
    transform: skew(-6deg);
  }
  70% {
    clip-path: inset(0 0 0 0);
    transform: skew(8deg);
  }
  80% {
    clip-path: inset(0 0 0 0);
    transform: skew(2deg);
  }

  100% {
    clip-path: inset(0 0 0 0);
    transform: skew(0deg);
  }
  /* Add more steps to create the glitching effect */
}

.glitch {
  animation: glitch 5s infinite;
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */